body{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-weight: bold;
    color: #001a46;
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .cart-item h2 {
    margin: 0;
  }
  
  .cart-item p {
    margin: 5px 0;
  }
  
  .cart-item .price {
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  .confirmCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(6, 12, 43, 0.2);
    margin-top: 130px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #001a46;
  }

.remove-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn:hover {
  background-color: #ff1a1a;
}

h1{
  text-align: center;
}
  