<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Risultati della ricerca</title>
  <link rel="stylesheet" type="text/css" href="../static/css/searchStyle.css">
</head>
<body>

  {% include 'navbar.html' %}

  <h1>Risultati della ricerca per "{{ query }}"</h1>

  <!-- Mostra i risultati della ricerca -->
  <div class="card-container">
  {% for item in items %}
  <a href="{{ url_for('item', id=item['id']) }}">
    <div class="card">
      <h2>{{ item["nome"] }}</h2>
      <img src="{{ item['immagine'] }}" alt="Immagine prodotto" class="immagine-prodotto">
      <p>{{ item["sport"] }}</p>
      <div class="number">€{{ '%.2f'|format(item["prezzo"]) }}</div>
    </div>
  </a>
  {% endfor %}
  </div>

</body>
</html>
